.newsletter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: black;
    color: white;
    padding-bottom: 3rem;
    
}

.newsletter-title{
    display: inline-block;
    margin-inline: auto;
    // width: 30%;
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-poppins);
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-top: 5rem;
    position: relative;
    transition: all.5s ease-in-out;
}
.newsletter-title:after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}
.newsletter-title:hover::after{
    transform: scaleX(1);
}
.newsletter-description{
    // width: 40%;
    padding:0 2rem;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 1rem;
    
}
.newsletter-send-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    .newsletter-input{
        // width: 25%;
        width: 60%;
        padding: .5rem;
        // margin-right: 1rem;
        border: 1px solid white;
        border-radius: 2rem;
        
    }
    .newsletter-input::placeholder{
        font-size: .7rem;
    }
    .newsletter-button{
        // width: 7rem;
        width: 25%;
        padding: .5rem;
        border: 1px solid white;
        border-radius: 2rem;
        cursor: pointer;
        text-transform: uppercase;
        transition: all .5s ease-in-out;
        font-size: .8rem;
    }
    .newsletter-button:hover{
        transform: scale(1.1);
    }
}

.newsletter-send-label{
    margin-bottom: .7rem;
    label{
        margin-inline: 1rem;
    }
}

.newsletter-social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  
}
.demo-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;

    transition: all .2s ease-in-out;
  
}
.demo-icon-box:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.white{
    color: black;
}
.demo-icon{
    transition: all .2s ease-in-out;
    font-size: 2rem;
    
}
.demo-icon-2{
    font-size: 1.3rem;
}

.demo-icon:hover{
    cursor: pointer;
    transform: scale(1.2);
    
}
.scale-2{
    transform: scale(1.7);
 
}
.scale-1{
    transform: scale(.8);
}

.newsletter-background-images img{
    width: 200px;
    margin: 0;
    display: flex;
    flex-direction: row;
}